@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
/*    --alert_color: rgb(234 35 254);
*/    --alert_color: rgb(255 0 0 / 1);
    --success_color: rgb(2 228 43);
    --header_height: 94px;
    --background-color-dark: rgb(0 0 0 / 1);
/*    --background-color-light: rgb(128 128 128 / 1);
*/    --background-color-light: white;
    --background-color-overlay: rgb(0 0 0 / 0.6);
    --background-color-header: rgb(255 0 0 / 1);
}

*,
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.75rem;
    color: rgb(88 88 88);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header wallet"
        "main main main"
        "footer footer footer";
}

@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header wallet"
            "main main"
            "footer footer";
    }

    #main {
        height: calc(100vh - (var(--header_height) * 2));
        overflow-y: scroll;
    }
}

.hidden {
    display: none;
}

#header {
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    width: initial !important;
    padding: 0;
    height: var(--header_height);
}

#header+#main {
    margin-top: 100px;
}

#header #logo {
    display: inline-block;
    align-content: center;
    padding-left: 0.5rem;
    background-image: url('/images/meh.png');
    background-blend-mode: exclusion;
    background-size: auto 72px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: right;
}

#header #links {
    text-align: right;
    align-content: center;
    padding-right: 50px;
}

#header #links,
#header #links *,
#header #links svg {
    color: white;
    fill: white;
}

#header #logo * {
    padding-right: 0.25rem;
}

#header #links {
    margin-right: 20px;
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    grid-template-columns: 48px 48px 48px 48px;
    align-items: center;
    height: 100%;
    text-align: center;
}

#links .basescan {
    height: 28px;
    width: 28px;
    background-image: url('/images/basescan.png');
    background-size: contain;
    background-color: rgb(188 188 188);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

#header,
#wallet {
    border-bottom: 8px solid black;
    background-color: var(--background-color-header);

}

#logo #meh_logo {
    height: 40px;
}

#hero {
    display: flex;
}

#hero>img,
#hero>a {
    width: 100vw;
    margin: auto;
}

#main {
    max-width: min(980px, 80vw);
    margin: auto;
    background-color: var(--background-color-dark);
}

#main h1 {
    text-align: center;
}

#success_block,
#error_block {
    text-transform: uppercase;
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}

#success_block {
    color: gray;
}

#error_block {
    color: orange;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color-dark);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    line-height: 48px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay hr {
    width: 4rem;
    margin: 1rem auto;
    opacity: 0.5;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#overlay {
    display: none;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 1000;
    background-color: rgb(188 188 188 / 0.8);
    align-content: center;
    color: black;
}

body.overlay_on {
    overflow: hidden;
}

body.overlay_on #overlay {
    display: block;
}

#overlay #overlay_content {
    border:5px solid black;
    background-color:white;
    position:relative;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px white;
    min-height: 50%;
    align-content: center;
    text-transform: uppercase;
}

#wallet {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    grid-area: wallet;
    position: relative;
    text-align: center;
    align-self: center;
    padding-right: 0.5rem;
    align-self: stretch;
    align-content: center;
    display: grid;
}

#wallet_status {
    font-size: 56px;
    color: white;
}

.connected #wallet_status {
    color: white;
}

.disconnected #wallet_status {
    color: white;
}

.disconnected #wallet {
    cursor: pointer;
}

#wallet #approve {
    position: absolute;
    bottom: 0;
    border: 1px solid yellow;
}

#token_status {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    display:none;
}

#token_status,
#token_status * {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
}

#token_status .meh_approval {
    cursor: pointer;
}

#token_status .meh_approval.low_approval {
    color: var(--alert_color);
}

#del_approval,
#del_approval * {
    color: white;
    cursor: pointer;

}

#timer {
    text-align: center;
    color: white;
    align-self: center;
    font-weight: bold;
    font-size: 56px;
}

#timer_status,
#connection_info {
    position: absolute;
    width: 100%;
    text-align: center;
    display:none;
}

#timer_status,
#timer_status *,
#connection_info,
#connection_info * {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

#header+#main {
    margin: 0;
}

#main {
    grid-area: main;
    width: 100vw;
    margin: 0;
    max-width: unset;
}

/*#content,*/
#content #products,
#content #coming_soon {
    padding: 2rem 0;
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 1rem;
    background-color: rgba(178 178 178 / 1);
    color: white;
    border: 10px solid var(--background-color-light);
    height: 370px;
    width: 370px;
    background-size: cover;
    background-position: center;
    font-size: 24px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

.product .remaining {
    color: white;
    padding: 0 0.25rem 0 0;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-shadow: 0 0 3px black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.product .desc {
    flex-flow: wrap;
    font-size: 24px;
    display: none;
    position: relative;
    padding: 0;
    height: 100%
}

.product .title {
    position: absolute;
    top: 0;
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.product .title div:first-of-type {
    font-size: 36px;
    font-weight: bold;
}

.product .message {
    height: 100%;
    display: flex;
    align-items: center;
}

.product .message .success {
    width: 100%;
    padding: 0 10px;
    margin: 0 -10px;
    text-align: center;
    background-color: var(--success_color);
    height: 80px;
    font-size: 64px;
    font-weight: bold;
    align-content: center;
    opacity: 0.95;
}

.product .alert {
    align-items: center;
    position: absolute;
    top: calc(50% - 40px);
    width: 100%;
    padding: 0 10px;
    margin: 0 -10px;
    text-align: center;
    background-color: var(--alert_color);
    height: 80px;
    font-size: 48px;
    font-weight: bold;
    align-content: center;
    display: grid;
    opacity: 0.9;
}

.product .base_info {
    align-items: center;
    position: absolute;
/*    top: calc(50% - 40px);*/
    width: 100%;
    padding: 0 10px;
    margin: 0 -10px -10px;
    text-align: center;
    background-color: red;
    height: 60px;
    font-size: 64px;
    font-weight: bold;
    align-content: center;
    opacity: 0.9;
    grid-template: 2fr 1fr / auto 1fr;
    bottom: 0;
    line-height: normal;
    display:none;
}

.product:active .base_info,
.product:hover .base_info {
    display: grid;
}

.product .base_info div:first-of-type {
    text-align: left;
}

.product .base_info div:nth-of-type(2) {
    text-align: right;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.product .base_info div:first-of-type,
.product .base_info div:nth-of-type(2) {
    font-size: 24px;
}

.product .base_info div:last-of-type {
    grid-column: 1 / span 2;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    text-align: left;
    font-weight: 300;
}

.message .success.small_text,
.product .alert.small_text,
#timer.small_text {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
}

.product .action {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0.5rem;
}

.product .action div:first-of-type {
    font-size: 32px;
    font-weight: bold;
}

.product .action div:last-of-type {
    font-size:24px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.10rem;
}

:not(#coming_soon) > .product:active,
:not(#coming_soon) > .product:hover {
    background-color: rgb(0 0 0 / 0.6);
    background-blend-mode: overlay;
}

#coming_soon > .product {
    pointer-events: none;
}



/*.product:active .remaining,
.product:hover .remaining,
.product:hover .message,
.product:active .message {
    display: none;
}*/

.product:active .desc,
.product:hover .desc {
    display: block;
}

.product .contract_count,
.product .buy_nft {
    background: var(--success_color);
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 2;
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px rgb(63 63 63 / 1);
    font-weight: bold;
}
