@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*    --alert_color: rgb(234 35 254);
*/
    --alert_color: rgb(255 0 0 / 1);
    --success_color: rgb(2 228 43);
    --header_height: 94px;
    --background-color-dark: rgb(0 0 0 / 1);
    /*    --background-color-light: rgb(128 128 128 / 1);
*/
    --background-color-light: white;
    --background-color-overlay: rgb(0 0 0 / 0.6);
    --background-color-header: rgb(255 0 0 / 1);
}

*,
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.75rem;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header wallet"
        "main main main"
        "footer footer footer";
}

@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header wallet"
            "main main"
            "footer footer";
    }

    #main {
        height: calc(100vh - (var(--header_height) * 2));
        overflow-y: scroll;
    }
    :root {
        --header_height: 64px;
    }
    #header #logo {
        background-size: auto 48px;
    }
}

#header {
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    width: initial !important;
    padding: 0;
    height: var(--header_height);
}

#header+#main {
    margin-top: 100px;
}

#header #logo {
    display: inline-block;
    align-content: center;
    padding-left: 0.5rem;
    background-image: url('/images/meh.png');
    background-blend-mode: exclusion;
    background-size: auto 72px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: right;
    margin-top: 10px;
}

#header #links {
    text-align: right;
    align-content: center;
    padding-right: 50px;
}

@media screen and (max-width: 767px) {
    #links {
        display: none !important;
    }
}

#header #links,
#header #links *,
#header #links svg {
    color: white;
    fill: white;
}

#header #logo * {
    padding-right: 0.25rem;
}

#header #links {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    grid-template-columns: 48px 48px 48px;
    align-items: center;
    height: 100%;
    text-align: center;
    width: calc(100% - 20px);
}

#footer {
    color:white;
    background-color: var(--background-color-dark);
    grid-area: footer;
    height: 100px;
    font-size: small;
    position: relative;
    align-content: end;
}

#footer * {
    font-size: small;
}

#footer #copy {
    padding: 0 0 0.5rem 0.5rem;
}

#footer #ccip {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#links .basescan {
    height: 28px;
    width: 28px;
    background-image: url('/images/basescan.png');
    background-size: contain;
    background-color: rgb(188 188 188);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

#header,
#wallet {
    border-bottom: 8px solid black;
    background-color: var(--background-color-header);

}

#logo #meh_logo {
    height: 40px;
}

#hero {
    display: flex;
}

#hero>img,
#hero>a {
    width: 100vw;
    margin: auto;
}

#main {
    max-width: min(980px, 80vw);
    margin: auto;
    background-color: var(--background-color-dark);
}

#main h1 {
    text-align: center;
}

#success_block,
#error_block {
    text-transform: uppercase;
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}

#success_block {
    color: gray;
}

#error_block {
    color: orange;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color-dark);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    line-height: 48px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay hr {
    width: 4rem;
    margin: 1rem auto;
    opacity: 0.5;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#overlay {
    display: none;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 1000;
    background-color: rgb(188 188 188 / 0.8);
    align-content: center;
    color: black;
    top: 0;
}

body.overlay_on {
    overflow: hidden;
}

body.overlay_on #overlay {
    display: block;
}

#overlay #overlay_content {
    border: 5px solid black;
    background-color: white;
    position: relative;
    width: max(360px, 50%);
    margin: auto;
    box-shadow: 5px 5px white;
    min-height: 50%;
    align-content: center;
    text-transform: uppercase;
}

#wallet {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    grid-area: wallet;
    position: relative;
    text-align: center;
    align-self: center;
    padding-right: 0.5rem;
    align-self: stretch;
    align-content: center;
    display: none;
}

#wallet_status {
    font-size: 56px;
    color: white;
}

.connected #wallet_status {
    color: white;
}

.disconnected #wallet_status {
    color: white;
}

.disconnected #wallet {
    cursor: pointer;
}

#wallet #approve {
    position: absolute;
    bottom: 0;
    border: 1px solid yellow;
}

#token_status {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    display: none;
}

#token_status,
#token_status * {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
}

#token_status .meh_approval {
    cursor: pointer;
}

#token_status .meh_approval.low_approval {
    color: var(--alert_color);
}

#del_approval,
#del_approval * {
    color: white;
    cursor: pointer;

}

#timer {
    text-align: center;
    color: white;
    align-self: center;
    font-weight: bold;
    font-size: 56px;
}

#timer_status,
#connection_info {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}

#timer_status,
#timer_status *,
#connection_info,
#connection_info * {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

#header+#main {
    margin: 0;
}

#main {
    grid-area: main;
    width: 100vw;
    margin: 0;
    max-width: unset;
}

/*#content,*/
#content #products,
#content #coming_soon {
    padding: 2rem 0;
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 1rem;
    background-color: rgba(178 178 178 / 1);
    color: white;
    border: 10px solid var(--background-color-light);
    height: 370px;
    width: 370px;
    background-size: cover;
    background-position: center;
    font-size: 24px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

.product .remaining {
    color: white;
    padding: 0 0.25rem 0 0;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-shadow: 0 0 3px black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.product .desc {
    flex-flow: wrap;
    font-size: 24px;
    display: none;
    position: relative;
    padding: 0;
    height: 100%
}

.product>.title {
    position: absolute;
    top: 0;
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.product>.title div:first-of-type {
    font-size: 36px;
    font-weight: bold;
}

.product .message {
    height: 100%;
    display: flex;
    align-items: center;
}

.product .message .success {
    width: 100%;
    padding: 0 10px;
    margin: 0 -10px;
    text-align: center;
    background-color: var(--success_color);
    height: 80px;
    font-size: 64px;
    font-weight: bold;
    align-content: center;
    opacity: 0.95;
}

.product .alert {
    align-items: center;
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding: 0 10px;
    margin: 0 -10px;
    text-align: center;
    background-color: var(--alert_color);
    height: 80px;
    font-size: 48px;
    font-weight: bold;
    align-content: center;
    display: grid;
    opacity: 0.9;
}

.product .base_info {
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    margin: 0 -10px -10px;
    text-align: center;
    background-color: red;
    height: 60px;
    font-size: 64px;
    font-weight: bold;
    align-content: center;
    opacity: 0.9;
    grid-template-columns: 3fr 1fr;
    bottom: 0;
    line-height: normal;
    display: none;
}

.product .product_details {
    position: absolute;
    width: calc(100% - 1rem);
    padding: 2.5rem 1rem 0;
    margin: 0 -10px -10px;
    text-align: left;
    color: black;
    top: 0;
    line-height: 1.25;
    display: none;
}

.product .product_details,
.product .product_details * {
    font-size: 14px;
}

.product .product_details > *:not(:first-of-type) {
    margin-top: 0.5rem;
}

.product:active .product_details,
.product:hover .product_details,
.product:active .base_info,
.product:hover .base_info {
    display: grid;
}

.product .base_info .title {
    text-align: left;
}

.product .base_info .price,
.product .base_info .price * {
    text-align: right;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.product .base_info *,
.product .base_info .price strong {
    font-size: 24px;
}

.product .base_info .price {
    font-size: 16px;
}

.product .base_info .price strong {
    font-weight: bold;
}

.product .base_info .price :not(strong) {
    font-size: 16px;
}

.message .success.small_text,
.product .alert.small_text,
#timer.small_text {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
}

.product .action {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0.5rem;
}

.product .action div:first-of-type {
    font-size: 32px;
    font-weight: bold;
}

.product .action div:last-of-type {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.10rem;
}

:not(#coming_soon)>.product:active,
:not(#coming_soon)>.product:hover {
    background-color: rgb(255 255 255 / 0.9);
    background-blend-mode: overlay;
}

#coming_soon>.product {
    pointer-events: none;
}

/*.product:active .remaining,
.product:hover .remaining,
.product:hover .message,
.product:active .message {
    display: none;
}*/

.product:active .desc,
.product:hover .desc {
    display: block;
}

.meh_button,
.product .contract_count,
.product .buy_nft {
    background: rgb(63 63 63 / 1);
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px var(--alert_color);
    font-weight: bold;
}

.product .contract_count,
.product .buy_nft {
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 2;
}

.product .buy_nft.sold {
    cursor: not-allowed;
    background: var(--alert_color);
    box-shadow: 5px 5px rgb(63 63 63 / 1);
}

form#get_address {
    max-width: 320px;
    margin: auto;
    padding: 2rem 0;
}

form#get_address label {
    display: block;
    font-size: small;
    text-align: left;
    line-height: 1rem;
    font-weight: bold;
}

form#get_address input,
form#get_address select {
    font-size: 14px;
    display: block;
}

form#get_address input {
    width: calc(100% - 7px);
}

form#get_address select {
    width: 100%;
}

form#get_address~#close {
    top: 1rem;
    right: 1rem;
    position: absolute;
}

form#get_address>div {
    margin-bottom: 1rem;
}

form#get_address #size_select label,
form#get_address #size_select select {
    display: inline;
    width: initial;
}

button.btn_meh_dark {
    background: rgb(63 63 63 / 1);
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px var(--alert_color);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#breadcrumbs,
#breadcrumbs * {
    font-size: 14px;
    cursor: pointer;
}

#breadcrumbs {
    color: red;
}

/* MY NFTS VIEW */

#my_nfts {
    min-height: calc(100vh - var(--header_height));
    padding: 0 2rem 2rem;
}

#my_nfts #nft_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;
}

#my_nfts #nft_list>* {
    width: 100px;
    height: 100px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
    align-content: center;
}

.nft_token {
    cursor: pointer;
    background-size: contain;
}

/* FAB */

#fab {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
}

.fab-checkbox {
    display: none;
}

.fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background: blue;
    border-radius: 50%;
    background: #126ee2;
    box-shadow: 0px 5px 20px #81a4f1;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid #0c50a7;
}

.fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.fab-checkbox:checked~.fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
    background: #2c87e8;
    box-shadow: 0px 5px 20px 5px #81a4f1;
}

.fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
}

.fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
}

.fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
}

.fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
}

.fab-checkbox:checked~.fab .fab-dots {
    height: 6px;
}

.fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked~.fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.fab-checkbox:checked~.fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

.fab-checkbox:checked~.fab .fab-dots {
    animation: none;
}

.fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid white;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
}

.fab-checkbox:checked~.fab-wheel {
    transform: scale(1);
}

.fab-action {
    position: absolute;
    background: #0f1941;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
    transition: all 1s ease;

    opacity: 0;
}

.fab-checkbox:checked~.fab-wheel .fab-action {
    opacity: 1;
}

.fab-action:hover {
    background-color: #f16100;
}

.fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
}

.fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
}

.fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 3.4rem;
}

.fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
}